@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.userpass::placeholder{
  font-family: "Inter", sans-serif;
  
}

.blueButton{
  background-color:#102DE9;
  border:solid 1px #102DE9;
  padding-left: 19.2px;
  padding-right: 19.2px;
  color:white;
}

.blueButton:hover{
  background-color:#0c1b80;
  border:solid 1px #0c1b80;
  padding-left: 19.2px;
  padding-right: 19.2px;
  color:white;
}

#e{
  font-family: "Inter", sans-serif;
  color:white;
}

.userpass{
  width:700px;
  height: 40px;
  border-radius:8px;
  font-size:25px;
  padding: 10px;
  color: black;
  border:none;
  margin-left:30px;
}

#emailInput{
  background-color:#F0F0F0;
}

#emailInput:focus{
  outline:none;
  background-color: #dfdfdf;
  border-color: none;
}

#bodyInput{
  background-color:#F0F0F0;
}

#bodyInput:focus{
  outline:none;
  background-color: #dfdfdf;
  border-color: none;
}

#bodyInput::-webkit-scrollbar {
  width: 10px;
}

#bodyInput::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 10px;
}

#formFile{
  border: 10px solid green;
}

#king:hover {
  cursor: pointer; /* New border style on hover */
}

#kev:hover {
  cursor: pointer; /* New border style on hover */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
